<div class="introduction">
    <ul class="items container">
        <li>
            <img src="assets/images/c1.png" alt="Church">
            <h4>Lorem ipsum dolor sit amet</h4>

            <small>Suspendise vel leo efficitur.</small>
            <small>venenatis est ut, tincidunt nibh.</small>
        </li>
        <li>
            <img src="assets/images/c2.png" alt="Snowflake">
            <h4>Lorem ipsum dolor sit amet</h4>
            <small>Suspendise vel leo efficitur.</small>
            <small>venenatis est ut, tincidunt nibh.</small>
        </li>
        <li>
            <img src="assets/images/c3.png" alt="Decoration">
            <h4>Lorem ipsum dolor sit amet</h4>
            <small>Suspendise vel leo efficitur.</small>
            <small>venenatis est ut, tincidunt nibh.</small>
        </li>
        <li>
            <img src="assets/images/c4.png" alt="Bell">
            <h4>Lorem ipsum dolor sit amet</h4>
            <small>Suspendise vel leo efficitur.</small>
            <small>venenatis est ut, tincidunt nibh.</small>
        </li>
    </ul>

    <button>CHECK OUR OFFER</button>
</div>