<nav class="header">
    <ul class="main-head container">
        <li>
            <span class="hamburger">
                <img src="assets/images/list.png" alt="List">
            </span>
        </li>
        <li>
            <span>
                <h1>CRIOS</h1>
                <small>FREE PSD TEMPLATE</small>
            </span>
        </li>
        <li>
            <span class="hamburger">
                <img src="assets/images/search.png" alt="Search">
            </span>
        </li>
    </ul>
</nav>