<div class="testimonial-wrapper">
    <div class="main container">
        <div>
            <img src="assets/images/user-photo.png" alt="User">
        </div>
        <div>
            <div>
                <h1>Template is awesome</h1>
                <small>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </small>
                <small>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</small>
                <small>Suspendisse lobortis lectus, vel imperdiet ullamcorper.</small>

                <div class="sign">
                    John Doe
                    <small>CEO at Crios.com</small>
                </div>
            </div>
        </div>
    </div>
</div>