<div class="photo-gallery">
    <div class="photos">
        <div>
            <img src="assets/images/ic1.png" alt="Snow forest">
        </div>
        <div>
            <div>
                <h1>Lorem ipsum dolor</h1>

                <small>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </small>
                <small>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</small>
                <small>Suspendisse lobortis lectus, vel imperdiet ullamcorper.</small>
            </div>
        </div>

        <div>
            <div>
                <h1>Lorem ipsum dolor</h1>
                <small>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </small>
                <small>Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</small>
                <small>Suspendisse lobortis lectus, vel imperdiet ullamcorper.</small>
            </div>
        </div>
        <div>
            <img src="assets/images/ic2.png" alt="Bamboo">
        </div>

    </div>
</div>