.footer-wrapper {
    text-align: center;
    margin-top: 70px;

    img {
        width: 100%;
        object-fit: contain;
    }

    small {
        display: block;
        line-height: 2.5em;
        color: #9e9e9ebd;
    }
    h1 {
        font-weight: 400;
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    button {
        background: transparent;
        color:var(--blue);
        border-radius: 50px;
        padding: 15px 30px;
        border: 1px solid #3c3c3c00;
        box-shadow: 0 0 5px 0 #3c3c3c26;
        font-weight: 600;
    }
}